
Build/*

*.xcuserstate

*.xcscheme

libmitfactory/libmitfactory.xcodeproj/xcuserdata/bg.xcuserdatad/xcschemes/xcschememanagement.plist

mitparser/mitparser.xcodeproj/xcuserdata/bg.xcuserdatad/xcschemes/xcschememanagement.plist

mitparser/Build/*

mitfactory.xcworkspace/xcuserdata/bg.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

libmitfactory/libmitfactory.xcodeproj/project.xcworkspace/contents.xcworkspacedata

mitparser/mitparser.xcodeproj/project.xcworkspace/contents.xcworkspacedata
